doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Про работу
    link(rel='stylesheet', media='screen', type='text/css', href='css/styles.css')
  body
    #wrapper
      #header
        #user-info
          ul 
            li Вы вошли как 
              a(href='#') Admin
            li Зарегистрироваться
            li Выйти

      #search
        .logo-big  агрегатор вакансий
        .logo-small ав
        .search-string
          input#searchText(type='text', name='req1')
        .searchresult
          ul.searchresult_ul
      div(style='clear: both;')
      #content
        ul.content_ul 
    
    #footer
      ul 
        li О компании
        li Сотрудничество
        li Для организаций
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.history.js')
    script(src='http://vk.com/js/api/openapi.js', type='text/javascript')
    script(src='/js/utilities.js')
    script(src='/js/searchlib.js')
    //-Scripts 
