doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Про работу
    link(rel='stylesheet', media='screen', type='text/css', href='css/styles.css')
  body
    #wrapper
      #search
        .logo-big  get a job, fag
        .logo-small gajf
        .search-string
          input#searchText(type='text', autofocus='autofocus', name='req1', onkeyup='Search.liveSearch(this.value)')
        .searchresult
          ul.searchresult_ul
    //-Content 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/utilities.js')
    script(src='js/searchlib.js')
    //-Scripts 
