doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Про работу
    link(rel='stylesheet', media='screen', type='text/css', href='css/styles.css')
  body
    #wrapper
      #header
        #search
          .logo-big  get a job, fag
          .logo-small gajf
          .search-string
            input#searchText(type='text', name='req1')
          .searchresult
            ul.searchresult_ul
        #features
          ul.nav
            li#top top15
            li#login_button(onclick='VK.Auth.login(authInfo);')
      #content
        ul.content_ul
    //-Content 

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.history.js')
    script(src='http://vk.com/js/api/openapi.js', type='text/javascript')
    script(src='/js/utilities.js')
    script(src='/js/searchlib.js')
    //-Scripts 
