*{
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper{
	min-height: 100%;
	height: 100%;
	width: 90%;
	height: auto !important;
	margin: 0 auto;
}
#search{
	width: 90%;
	position: fixed;
	top: 50%;
	margin-top: -105px;
}
.logo-big{
	/*display: none;*/
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
}
.logo-small{
	display: none;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;	
}
#searchText{
	width: 100%;
	height: 40px;
	border: 0 solid #fff;
	font-size: 2em;
	outline: none;
	text-align: center;
}
/*------------------------------------welcome to internet explorer-------------------------------*/
input[type=text]::-ms-clear {
    display: none;
}
